body {
  background-color: #edeff0;
  font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif; }

h1 {
  font-size: 20px;
  vertical-align: middle;
  padding-top: 10px;
  color: #3e464c; }

h5, p {
  color: #7b8b8e; }

p {
  font-family: Arial, Helvetica, sans-serif; }

h5 {
  margin-bottom: 1px; }

h3 {
  color: #545e60;
  margin-top: 5px; }

ul {
  list-style: none;
  color: white; }

li {
  display: inline; }

.wrap {
  width: 95%;
  margin-left: auto;
  margin-right: auto; }

.main-content {
  padding: 0 8px; }

.content {
  margin: 0 30px; }

.course {
  width: 500px;
  height: 300px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 2px 0 #bfc7ce;
  float: left;
  margin: 0 15px 30px 15px; }

.nav {
  height: 50px;
  background-color: #2c9676;
  padding: 0 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.pink {
  background-color: #f092b0; }

.purple {
  background-color: #838cc7; }

.nav-bar {
  height: 65px;
  margin-bottom: 15px;
  padding: 0 10px 0 8px;
  box-shadow: 0 3px 0.01px #bfc7ce; }

.navbar-right {
  float: right;
  margin-top: 5px;
  position: relative; }

.button {
  margin-top: 50px;
  height: 50px; }

.icon-buttons {
  height: 30px;
  width: 30px;
  float: right;
  padding: 6px;
  margin-bottom: 50px; }

#star {
  margin-left: 8px; }

.button span {
  border: 2px solid #7b8b8e;
  font-size: 12px;
  position: relative;
  border-radius: 50%; }
  .button span.java {
    color: #2c9676; }
  .button span.python {
    color: #f092b0; }
  .button span.wp {
    color: #838cc7; }
  .button span.level {
    color: #7b8b8e; }

.button .word {
  border-radius: 25px;
  padding: 10px; }

.word, .icon-buttons {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.nav-icon {
  width: 30px;
  margin-top: 3px; }

.hr-left {
  background-color: #bfc7ce;
  -webkit-transform: rotate(90deg);
  position: absolute;
  top: 16px;
  width: 30px;
  height: 2px;
  left: 97px;
  border: 2px; }

.hr-right {
  background-color: #bfc7ce;
  -webkit-transform: rotate(90deg);
  position: absolute;
  top: 16px;
  width: 30px;
  height: 2px;
  left: 147px;
  border: 2px; }

.icon {
  width: 20px;
  margin-top: 5px;
  margin-left: 5px; }

.book {
  margin-top: 7px;
  margin-right: 10px;
  float: left; }

.circle {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.5);
  float: left;
  margin-top: 15px; }

.length {
  font-weight: bold;
  color: white;
  display: block;
  float: right;
  margin-top: 15px; }

body {
  margin: 0;
  padding: 0; }

.navbar-left {
  float: left;
  width: 5%;
  height: 100vh;
  background-color: #3e474f; }

.navbar-left img {
  position: fixed;
  top: 0;
  left: 1%; }

.wrap-c {
  width: 85%;
  height: 100vh;
  float: right;
  margin-right: 5%; }

.nav-c {
  background-color: #3079AB; }

.content-c {
  position: relative;
  text-align: center;
  background-color: #255d83;
  height: 40%; }
  .content-c h3 {
    margin: 0;
    color: white; }
  .content-c h5 {
    color: #4494ca; }

.content-title {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); }

.resume-button {
  background-color: #edeff0;
  color: #255d83; }

.content-body {
  height: 500px;
  background-color: white; }

.css {
  border: 2px solid #7b8b8e;
  font-size: 12px;
  position: relative;
  border-radius: 25px;
  color: #3079AB;
  padding: 10px; }

/*# sourceMappingURL=application.css.map */
