.wrap {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.main-content {
  padding: 0 8px;
}

.content {
  margin: 0 30px;
}

.course {
  width: 500px;
  height: 300px;
  border-radius: $corners;
  background-color: $white;
  box-shadow: 0 2px 0 $hr-color;
  float: left;
  margin: 0 15px 30px 15px;
}

.nav {
  height: 50px;
  background-color: $java-color;
  padding: 0 30px;
  border-top-left-radius: $corners;
  border-top-right-radius: $corners;
}

.pink {
  background-color: $python-color;
}

.purple {
  background-color: $wordpress-color;
}
