.button {
  margin-top: 50px;
  height: 50px;
  // position: relative;
}

.icon-buttons {
  height: 30px;
  width: 30px;
  float: right;
  padding: 6px;
  margin-bottom: 50px;
}

#star {
  margin-left: 8px;
}

.button span {
  @include buttonMaker ($circle-radius);
  &.java {color: $java-color;}
  &.python {color: $python-color;}
  &.wp {color: $wordpress-color;}
  &.level {color: $text-color;}
}

.button .word {
  border-radius: $pill-radius;
  padding: 10px;
}

.word, .icon-buttons {
@include verticle-center;
}
