.nav-icon {
  width: 30px;
  margin-top: 3px;
}

.hr-left {
  @include hr;
   left:97px;
   border:2px;
}

.hr-right {
  @include hr;
   left:147px;
   border:2px;
}

.icon {
  width: 20px;
  margin-top: 5px;
  margin-left: 5px;
}

.book {
  margin-top: 7px;
  margin-right: 10px;
  float: left;
}

.circle {
  // color: rgba(255, 255, 255, .5);
  @include fontface ($stack-sans-serif, $weight:lighter, $color:rgba(255, 255, 255, .5));
  float: left;
  margin-top: 15px;
}

.length {
  @include fontface ($weight:bold, $color:$white);
  display: block;
  float: right;
  margin-top: 15px;
}
