body {
  background-color: $main-background-color;
  font-family: $stack-arial;
}

h1 {
  font-size: 20px;
  vertical-align: middle;
  padding-top: 10px;
  color: $title-color;
}

h5, p {
  color: $text-color;
}

p {
  font-family: $stack-sans-serif;
}

h5 {
  margin-bottom: 1px;
}

h3 {
  color: $heading-color;
  margin-top: 5px;
}

ul {
  list-style: none;
  color: $white;
}

li {
  display: inline;
}
